<h1 class="title">Responsable TAF</h1>
<hr>  
<div class="mb-3 row center">
    <label for="dureePlanning" class="w-25 col-form-label text-end">Durée du planning (nombre de semaines) : </label>
    <div class="w-25">
        <select class="form-select" aria-label="Default select example">
            <option selected>Choisir le nombre de semaines</option>
            <option value="1">35</option>
            <option value="2">36</option>
            <option value="3">37</option>
            <option value="3">38</option>
        </select>
    </div>
</div>
<div class="mb-3 row center">
    <label for="staticEmail" class="w-25 col-form-label text-end">Nombre de modules UE A : </label>
    <div class="w-25">
        <select class="form-select" aria-label="Default select example">
            <option selected>Choisir le nombre de modules</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
</div>
<div class="mb-3 row center">
    <label for="staticEmail" class="w-25 col-form-label text-end">Nombre de modules UE B : </label>
    <div class="w-25">
        <select class="form-select" aria-label="Default select example">
            <option selected>Choisir le nombre de modules</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
</div>
<div class="mb-3 row center">
    <label for="staticEmail" class="w-25 col-form-label text-end">Nombre de modules UE C : </label>
    <div class="w-25">
        <select class="form-select" aria-label="Default select example">
            <option selected>Choisir le nombre de modules</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
</div>

