<h1 class="title">Responsable TAF</h1>
<hr>
<div class="mb-3 row center">
    <label for="dureePlanning" class="w-25 col-form-label text-end">Durée du planning (nombre de semaines) : </label>
    <div class="w-25">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedNumberWeek" (change)="selectWeekChange()">
            <option selected>Choisir le nombre de semaines</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
        </select>
    </div>
</div>
<div class="mb-3 row center">
    <label for="startDate" class="w-25 col-form-label text-end">Date du début planning : </label>
    <div class="w-25">
        <mat-form-field>
            <mat-label>Date du début</mat-label>
            <input matInput [matDatepicker]="picker" 
                placeholder="Choisir date du début" 
                [(ngModel)]="debut" (dateChange)="changeDate('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</div>
<div class="mb-3 row center">
    <label for="staticEmail" class="w-25 col-form-label text-end">Nombre de modules UE A : </label>
    <div class="w-25">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedNumberModuleUEA" (change)="selectModuleUEAChange()">
            <option selected>Choisir le nombre de modules de l'UE A</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>

    </div>
</div>
<div class="mb-3 row center" *ngFor="let module of modulesUEA">
    <label class="w-25 col-form-label text-end">Module UE A- {{module.id}} : </label>
    <hr/>
    <label class="w-25 col-form-label text-end">Nom module :</label> <input class="w-25" type="text" aria-label="Default select example" [(ngModel)]="module.name" />
    <label class="w-25 col-form-label ">Nombre de creneau :</label> <input class="w-25" type="number" aria-label="Default select example" [(ngModel)]="module.slotsNumber" />
</div>
<div class="mb-3 row center">
    <label for="staticEmail" class="w-25 col-form-label text-end">Nombre de modules UE B : </label>
    <div class="w-25">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedNumberModuleUEB" (change)="selectModuleUEBChange()">
            <option selected>Choisir le nombre de modules de l'UE B</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
    </div>
</div>
<div class="mb-3 row center" *ngFor="let module of modulesUEB">
    <label class="w-25 col-form-label text-end">Module UE B- {{module.id}} : </label>
    <hr/>
    <label class="w-25 col-form-label text-end">Nom module :</label> <input class="w-25" type="text" aria-label="Default select example" [(ngModel)]="module.name" />
    <label class="w-25 col-form-label ">Nombre de creneau :</label> <input class="w-25" type="number" aria-label="Default select example" [(ngModel)]="module.slotsNumber" />
</div>
<div class="mb-3 row center">
    <label for="UEC" class="w-25 col-form-label text-end">Nombre de modules UE C : </label>
    <div class="w-25">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedNumberModuleUEC" (change)="selectModuleUECChange()">
            <option selected>Choisir le nombre de modules de l'UE C</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
    </div>
</div>
<div class="mb-3 row center" *ngFor="let module of modulesUEC">
    <label class="w-25 col-form-label text-end">Module UE C- {{module.id}} : </label>
    <hr/>
    <label class="w-25 col-form-label text-end">Nom module :</label> <input class="w-25" type="text" aria-label="Default select example" [(ngModel)]="module.name" />
    <label class="w-25 col-form-label ">Nombre de creneau :</label> <input class="w-25" type="number" aria-label="Default select example" [(ngModel)]="module.slotsNumber" />
</div>
<div class="mb-3 row center">
    <label for="disponibilités" class="w-25 col-form-label text-end">Les indisponibilités: </label>
    <div class="w-25">
        <mat-form-field>
            <mat-label>Choisir date indisponible</mat-label>
            <input matInput [matDatepicker]="picker1" 
                placeholder="Choisir date indisponible" 
                [(ngModel)]="indisponible" (dateChange)="addEvent('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker [startAt]="startAt" #picker1></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="w-25 ">
        <div  *ngFor="let item of items">
            <input type="checkbox" [(ngModel)]="item.isChecked"> {{ item.label }}   
        </div>
    </div>

    <div class="w-25">
        <button (click)="addFunction()" class="btn border title w-25">Ajouter</button>

    </div>

</div>
<div >
    
    <table class="table">
        <tr class="table-header">
            <th>Date de l'indisponibilité</th>
            <th>Les créneaux</th>
        </tr>
        <tr *ngFor="let row of tableData" class="table-row">
            <td>{{ row.date }}</td>
            <td>{{ row.creneaux }}</td>
        </tr>
    </table>
</div>

<div class="mb-3 row center">
    <div class="w-25"></div>
    <button (click)="clickFunction()" class="btn border title w-25">Click Me</button>
</div>