<app-menu [mail]="userMail"></app-menu>
<br/>
<br/>
<br/>

<h1 class="title">Historique</h1>
<hr class="hr">
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <button (click)="goToFormulaire()">New</button>
        <br/>
        <br/>
        <table class="table">
            <tr class="table-header">
                <th>Date de création</th>
                <th> Action </th>
            </tr>
            <tr *ngFor="let row of dataTable" class="table-row">
                <td>{{ row.creationDate }}</td>
                <td>
                    <!--button class="view-button"
                    [disabled]="!isTeachersListEmpty"
                    *ngIf="isTeachersListEmpty"
                    (click)="viewCalendar(row.id)"
                    >
                    Voir
                    </button-->
                    <button class="buttonSolve" [ngStyle]="{'background-color': !isTeachersListEmpty ? 'grey' : 'blue'}" [ngClass]="{'disabled-button': !isTeachersListEmpty}" [disabled]="!isTeachersListEmpty" (click)="solve()">Solve</button>
                </td>
            </tr>
        </table>
    </div>
</div>