<app-menu [mail]="userMail"></app-menu>
<br/>
<br/>
<br/>

<h1 class="title">Historique</h1>
<hr class="hr">
<button (click)="goToFormulaire()">New</button>
<p></p>
<div>

    <table class="table">
        <tr class="table-header">
            <th>Date de création</th>
            <th></th>
        </tr>
        <tr *ngFor="let row of data" class="table-row">
            <td>{{ row.date }}</td>
            <td><button class="view-button" (click)="viewCalendar(row)">Voir</button></td>
        </tr>
    </table>
</div>