.title {
    text-align: center;
    color: #00b8de;
}

.w-25 {
    width: 25% !important;
}

.hr {
    width: 100%;
    height: 3px;
    background-color: #00b8de;
}

.mat-calendar-body-cell.selected {
    background-color: #00b8de!important;
    border-radius: 50%
}

.drop-calendar {
    width: 30rem
}

.table {
    width: 100%;
    border: 1px solid black;
}

.table-header {
    background-color: lightgray;
}

.table-header th {
    padding: 10px;
    border-right: 1px solid black;
}

.table-row {
    border-bottom: 1px solid lightgray;
}

.table-row td {
    padding: 10px;
    border-right: 1px solid lightgray;
}

.send-button {
    background-color: #00b5d6;
    color: white;
}

.delete-button {
    background-color: red !important;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-name {
    margin-right: 10px;
    padding: 10px;
    background-color: #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}